<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IoTtalk GUI | {% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{{ static_url('css/base.css') }}">

  <!-- semantic-ui -->
  <link rel="stylesheet" href="{{ static_url('vendor/semantic/dist/semantic.min.css') }}">
  <script src="{{ static_url('vendor/node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ static_url('vendor/semantic/dist/semantic.min.js') }}"></script>

  <!-- vue.js -->
  <script src="{{ static_url('vendor/node_modules/vue/dist/vue.min.js') }}"></script>
  <script src="{{ static_url('vendor/node_modules/vue-router/dist/vue-router.min.js') }}"></script>

  {% block head %}
  {% endblock head %}
</head>
<body>
  {% block body %}

    <header>
    {% block header %}
    {% endblock header %}
    </header>

    <nav>
    {% block nav %}
    {% include "nav.html" %}
    {% endblock nav %}
    </nav>

    <main>
    {% block main %}
    {% endblock main %}
    </main>

    <footer>
    {% block fotter %}
    {% endblock fotter %}
    </footer>

  {% endblock body %}

  <!-- wait until DOM ready -->
  <script src="{{ static_url('js/app.js') }}"></script>
</body>
</html>
