<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IoTtalk GUI | {% block title %}{% endblock title %}</title>

  <!-- semantic-ui -->
  <link rel="stylesheet" href="{{ static_url('semantic/semantic.min.css') }}">
  <script src="{{ static_url('jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ static_url('semantic/semantic.min.js') }}"></script>

  {% block head %}
  {% endblock head %}
</head>
<body>
  <script src="{{ static_url('js/build.js') }}"></script>
</body>
</html>
